In [16]:
#Lets Load the Libraries 
import pandas as pd
import numpy as np

In [17]:
data= pd.read_csv("https://raw.githubusercontent.com/s4sauravv/Internship-2.0-/main/Churn_Modelling%20(1).csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [18]:
#Lets drop unncessory columns
data.drop(columns=['CustomerId','Surname','RowNumber'],inplace=True)

In [19]:
#Lets check the shape of the dataset
data.shape

(10000, 11)

In [20]:
#Lets encode the data
data= pd.get_dummies(data,columns=['Geography','Gender'],drop_first=True)

In [21]:
data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [42]:
x = data.drop(columns=['EstimatedSalary'])
y = data['EstimatedSalary'].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [43]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

In [44]:
import tensorflow as tf
from tensorflow import keras

In [45]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.callbacks import EarlyStopping

# Build the neural network
model = Sequential()
model.add(Dense(25, input_dim=x.shape[1], activation='relu')) # Hidden 1
model.add(Dense(10, activation='relu')) # Hidden 2
model.add(Dense(1)) # Output
model.compile(loss='mean_squared_error', optimizer='adam')
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, 
                        patience=5, verbose=1, mode='auto', 
                        restore_best_weights=True)

In [46]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 25)                300

 dense_4 (Dense)             (None, 10)                260

 dense_5 (Dense)             (None, 1)                 11

=================================================================
Total params: 571
Trainable params: 571
Non-trainable params: 0
_________________________________________________________________

In [49]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),
          callbacks=[monitor],verbose=2,epochs=100)

Epoch 1/100
250/250 - 2s - loss: 8184604672.0000 - val_loss: 6734812672.0000 - 2s/epoch - 8ms/step
Epoch 2/100
250/250 - 0s - loss: 7172822528.0000 - val_loss: 6552809472.0000 - 437ms/epoch - 2ms/step
Epoch 3/100
250/250 - 0s - loss: 6917277184.0000 - val_loss: 6257264640.0000 - 455ms/epoch - 2ms/step
Epoch 4/100
250/250 - 0s - loss: 6487455232.0000 - val_loss: 5769565696.0000 - 448ms/epoch - 2ms/step
Epoch 5/100
250/250 - 1s - loss: 5814273024.0000 - val_loss: 5052795904.0000 - 520ms/epoch - 2ms/step
Epoch 6/100
250/250 - 1s - loss: 4934834688.0000 - val_loss: 4225346560.0000 - 522ms/epoch - 2ms/step
Epoch 7/100
250/250 - 0s - loss: 4129342208.0000 - val_loss: 3721927936.0000 - 433ms/epoch - 2ms/step
Epoch 8/100
250/250 - 0s - loss: 3724708352.0000 - val_loss: 3555021056.0000 - 453ms/epoch - 2ms/step
Epoch 9/100
250/250 - 1s - loss: 3625629440.0000 - val_loss: 3599378176.0000 - 527ms/epoch - 2ms/step
Epoch 10/100
250/250 - 1s - loss: 3608915456.0000 - val_loss: 3542258688.0000 - 509ms/epoch - 2ms/step
Epoch 11/100
250/250 - 1s - loss: 3597893120.0000 - val_loss: 3524787200.0000 - 510ms/epoch - 2ms/step
Epoch 12/100
250/250 - 0s - loss: 3542776320.0000 - val_loss: 3467285248.0000 - 441ms/epoch - 2ms/step
Epoch 13/100
250/250 - 1s - loss: 3539913472.0000 - val_loss: 3528987136.0000 - 510ms/epoch - 2ms/step
Epoch 14/100
250/250 - 1s - loss: 3542135296.0000 - val_loss: 3460954112.0000 - 521ms/epoch - 2ms/step
Epoch 15/100
250/250 - 1s - loss: 3528227072.0000 - val_loss: 3458417152.0000 - 636ms/epoch - 3ms/step
Epoch 16/100
250/250 - 1s - loss: 3535540736.0000 - val_loss: 3458968576.0000 - 638ms/epoch - 3ms/step
Epoch 17/100
250/250 - 1s - loss: 3523862272.0000 - val_loss: 3487877888.0000 - 621ms/epoch - 2ms/step
Epoch 18/100
250/250 - 1s - loss: 3531963648.0000 - val_loss: 3453729024.0000 - 684ms/epoch - 3ms/step
Epoch 19/100
250/250 - 0s - loss: 3536012288.0000 - val_loss: 3447283200.0000 - 489ms/epoch - 2ms/step
Epoch 20/100
250/250 - 0s - loss: 3512067328.0000 - val_loss: 3465269504.0000 - 430ms/epoch - 2ms/step
Epoch 21/100
250/250 - 0s - loss: 3504566016.0000 - val_loss: 3421344000.0000 - 446ms/epoch - 2ms/step
Epoch 22/100
250/250 - 1s - loss: 3509020672.0000 - val_loss: 3503025664.0000 - 507ms/epoch - 2ms/step
Epoch 23/100
250/250 - 0s - loss: 3510282240.0000 - val_loss: 3445837312.0000 - 442ms/epoch - 2ms/step
Epoch 24/100
250/250 - 0s - loss: 3502668800.0000 - val_loss: 3431697152.0000 - 438ms/epoch - 2ms/step
Epoch 25/100
250/250 - 0s - loss: 3501956864.0000 - val_loss: 3458530560.0000 - 430ms/epoch - 2ms/step
Epoch 26/100
Restoring model weights from the end of the best epoch: 21.
250/250 - 0s - loss: 3500803328.0000 - val_loss: 3422098944.0000 - 459ms/epoch - 2ms/step
Epoch 26: early stopping

In [53]:
from sklearn import metrics

# Predict
pred = model.predict(X_test)

# Measure R-squared
r2_score = metrics.r2_score(y_test, pred)

r2_score

63/63 [==============================] - 0s 1ms/step

-0.03851153627544668

In [52]:
import numpy as np

# Measure RMSE error.  RMSE is common for regression.
score = np.sqrt(metrics.mean_squared_error(pred,y_test))
print("Final score (RMSE): {}".format(score))

Final score (RMSE): 58492.256493995315

In [54]:
# Measure MSE error.  RMSE is common for regression.
score = metrics.mean_squared_error(pred,y_test)
print("Final score (MSE): {}".format(score))

Final score (MSE): 3421344069.759337

In [ ]:
#Intern at Pranathi
#Student of DataTrained
#Date -> 5-05-2023
#Time -> 07:10